body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #ffffff;
}

input[type="text"], input[type="password"], input[type="text"].message-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333333;
    color: #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #1e88e5;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1565c0;
}

#messages {
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    max-height: 300px;
    overflow-y: auto;
}

#typeMessage {
    display: flex;
    flex-direction: column; /* Alinha o input e o botão verticalmente */
    justify-content: center;
    align-items: center;
    width: 100%;
}

input#messageInput {
    width: 100%;
    margin-bottom: 10px; /* Adiciona espaço entre o input e o botão */
}
